<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho-inicio">
        <button type="button" class="entrar" onclick="telainicial()" onlick="entrar()">Login</button>
        <button type="button" class="cadastro" onclick="telainicial()">Cadastrar-se</button>
    </header>
    <div class="inicio">  
        <img src="{{ url_for('static', filename='imagens/Logo-Desenrola.png') }}" alt="Logo do site">
    </div>
     <footer class="rodape-inicio">
        <div class="container-flex">
            <p>&copy; 2026 Desenrola. Todos os direitos reservados.</p>
            <ul class="links">
                <li><a>Sobre</a></li>
                <li><a>Contato</a></li>
                <li><a>Ajuda</a></li>
            </ul>
        </div>
    </footer>
    <Script src="../Js/script.js"></Script>
</body>
</html>