<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de uso</title>
</head>
<body>
    <div style="display: grid;justify-items: center; align-items: start;">
        <img style="align-items: center;" src="{{ url_for('static', filename='imagens/Logo-Desenrola.png') }}" alt="Logo do site">
    </div>
    <div class="T-titulo" style="width: auto; border: 0px solid #ccc; padding: 100px;">
        <h2>Termos e condições de uso</h2>
        <h3>15/04/2026</h3>
        <h4></h4>
        <h3 style="text-align: justify; hyphens: auto; color: #ff9900">
            CASO VOCÊ NÃO CONCORDE COM QUAISQUER DAS DISPOSIÇÕES DESTES TERMOS,
            POR FAVOR NÃO ACESSE OU DE QUALQUER MODO UTILIZE O SITE.
        </h3>
        <h3>1. Sobre o Site</h3>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            1.1. O Site, denominado Desenrola, visa abrir um canal de comunicação
            para discentes e docentes, trazendo uma cultura de feedbacks contrutiveis. 
            No site, você pode encontrar, por exemplo, fóruns, chats de conversas com seus professores,
            bem como opções para o usuário sanar suas dúvidas por meio de envio de e-mail à  Estrutura Inicial. 
        </h4>
        <h3>2. Privacidade dos usuários</h3>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            2.1. Faz parte de nossa política respeitar a privacidade dos usuários. 
            Embora o ambiente do Site esteja sujeito a monitoramento por questões de segurança,
            nós trataremos ou divulgaremos dados dos usuários do Site com uma base legal aplicável definida e para finalidades informadas,
            ou a menos que sejamos obrigados a fazê-lo mediante ordem judicial ou por força de Legislação Aplicável.
            Para mais informações, favor consultar a <a href="" style="color: #ff9900;">Política de Privacidade</a> disponível.
            Tal política constitui parte integrante destes Termos e deverá ser lida integral e atentamente por todos os usuários.
        </h4>
        <h4 style="text-align: justify; hyphens: auto;"> 
        </h4>
        <h3>3. Aceite aos termos</h3>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            3.1. O acesso e/ou qualquer outra forma de utilização do Site por você equivalerá à  declaração expressa que você leu,
            compreendeu e está integralmente de acordo com os presentes Termos, incluindo a <a href="" style="color: #ff9900;">Política de Privacidade</a>. 
        </h4>
        <h3>4. Alterações e atualizações aos termos</h3>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            4.1. Poderemos modificar estes Termos a qualquer momento, a nosso exclusivo critério, 
            mediante a publicação no Site de termos de uso atualizados.
        </h4>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            4.2. Para a sua comodidade, a data da última revisão destes Termos está disposta no topo desta página. 
            Recomendamos que toda vez que você acessar o Site, fique atento à s novas atualizações destes Termos, 
            pois o seu acesso e uso ao Site estarão vinculados à  última versão atualizada destes Termos.
        </h4>
        <h3>5. Responsabilidades do usuário</h3>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            6.1. O usuário deverá:
                <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
                
                </h4>
        </h4>
        <h4 style="text-align: justify; hyphens: auto; font-size: 12px;">
            6.2. Proibições:
        </h4>
    </div>
</body>
</html>